body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#main{
    background: rgb(116, 113, 106);
    padding: 20px;}
   

#imgwrapper{

    display: flex;
    flex-flow: wrap;
    
    /* align-content: stretch;
    align-items: stretch;
    justify-content: space-between;
     */
   
}

.upload input[type=text] {
    margin-bottom: 10px;
    width: 50%;
    display: block;
    padding: 8px 10px;
    background: #D9D9D9;
    border: solid 1px #262624;
}
.upload input[type=button], .upload button {
    border-radius: 5px;
    padding: 8px 16px;
    background: #626262;
    color: #000000;
    border: solid 1px #262624;

}

#img.container {
    
text-align: center;




}

img {
    padding-right: 20px;
    padding-top: 20px;
   
    width: 400px;
    height: 300px;
}

.imginner{
    color: #1b1b1b;
    font-size: 16px;
    border-radius: 4px;
    width: 380px;
    padding: 10px;
    background: rgba(0,0,0,0.2);
}

.img-overlay {
    background: rgb(89, 88, 89);
    box-shadow: 10px;
    color: white;
    width: 700px;
    height: 500px;
    font-size: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
    transform: translate(150px, -300px);
}

.img-overlay .close {
    position: absolute;
    right: 10px;
    top: 10px;
}